.tacenter{
	text-align:center;
}
.subbtn{
	background-color: #3BA3FF;
	border-color: #3BA3FF;
	padding:8px 25px;
	font-size:20px;	
}
.fabu{
	color: #3BA3FF;
}
.title{
	color:#494949;
}
.h40{
	height:40px;
}
.f18{
	font-size:18px;
}
body{padding-top: 50px;background: #DADAD8}
* a{text-decoration: none !important;}
.navbar{background: #fff;color:#08a5e0 !important;font-size:20px;font-weight:700;line-height: 50px;}
.navbar-brand{color:#fff}
#mainlist{
	background: #F5F5F5;	
}
#mainlist .well{
	background: #F5F5F5;
	border:0px;
	margin-bottom: 0px;
	padding:10px 10px 0 10px;
	position: relative;
	border-radius:0px;
	border:none;	
	webkit-box-shadow:none;
	box-shadow:none;
}
#mainlist .list-group{
	margin-bottom: 5px;
}
.well h5{position: absolute;height:30px;line-height:30px;top: 0px;left: 15px;font-size: 18px;color:#4E6694;font-weight: 700;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;width:290px;}
.well h6{position: absolute;height:20px;top:30px;left: 15px;font-size: 12px;color: #B7B7B7}

.list-group{border: 0px;border-radius:0px;overflow:hidden}
.list-group-item{color: #292929;font-size: 14px;font-weight: 500;border: 1px solid #eaeaea;border-radius:0px !important;}
.posttitle{height:50px;}
.fabu{
	color: #3BA3FF;
}

.loading-wrap{
bottom: 50px;
width: 100%;
height: 52px;
text-align: center;
display: none;
}
#loading{
	margin-top:20px;
}
.loading {
	padding: 10px 10px;
	height: 32px;
	line-height: 28px;
	color: #FFF;
	font-size: 20px;
	border-radius: 5px;
	background: 10px center rgba(0,0,0,.7);
}
.footer{
	border: 2px solid #D4D4D4;
	display:none;
}