.tacenter{
	text-align:center;
}
.subbtn{
	background-color: #3BA3FF;
	border-color: #3BA3FF;
	padding:8px 25px;
	font-size:20px;	
}
.fabu{
	color: #3BA3FF;
}
.title{
	color:#494949;
}
.h40{
	height:40px;
}
.f18{
	font-size:18px;
}