.red{
	color:red;
}
.textalirig{
	text-align:right;
}
.yzmimg{
	vertical-align:middle;
	margin-right:5px;
	width:100px;
	height:30px;
}
.fl{
	float:left;
}
.verAliBot{
	vertical-align:bottom;
}
.vam{
	vertical-align:middle;
}
.ml300{
	margin-left:300px;
}
.green{
	color:green;
}
.red1{
	color:red;
}
.mt3{
	margin-top:3px;
}
.mt10{
	margin-top:10px;
}
.mt20{
	margin-top:20px;
}
.pr15{
	padding-right:15px;
}
.hid{
	display:none;
}
.show{
	display:block;
}