.footer{
	padding-left: 121px;
}
.mb0{
	margin-bottom:0;
}
/*p{
	float:left;
	margin-right:20px;
}*/
.navbar-text {
	float: left;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}