.mr120{
	margin-right:120px;
}
.h45{
	height:45px;
}
.h10{
	height:10px;
}
.well{
	padding:0px;
	border:0px;
}
.title{
	font-size:18px;	
	line-height:1.54;	
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
#myModal .title{
	font-size:20px;	
	line-height:1.54;
	white-space: normal;
	text-indent: 2em;
}
.title a{
	color:#1a0dab;
	font-weight:normal
}
.title a:hover{
	cursor:pointer;
}
.f13{
	font-size:13px;	
}
.c-container{
	width: 538px; 
	font-size: 13px;
	line-height: 1.54;
	word-wrap: break-word;
	word-break: break-all;
}
.detail{
	height:40px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.noborder{
	border:none;
}
.titlepadding{
	padding:0;
}
.pagination>li>a, .pagination>li>span{
	margin-right:10px;
	padding: 7px 13.5px;
}
.current{
	border:none;
	font-weight:600;
}
.detailpadding{
	padding:0;
}
.nums{
	width: 538px; 
	height: 42px;
	line-height: 42px;
	font-size: 12px;
	color: #999;
	padding-left:2px;
}
.resultpage{
	width:700px;
}
.mb20{
	margin-bottom:20px;
}
.pl110{
	padding-left:110px;
}
 .leftBlock {
	width:538px;
	margin-bottom: 14px;
	padding-bottom: 5px;
	border-bottom: 1px solid #f3f3f3;
}
#myModal .modal-body{
	padding:10px 10px 0 10px;
}
#myModal .titleitem{	
	padding:15px 15px 5px 15px;
}
#myModal .timeitem{
	padding:0px 15px 5px 15px;
	color:#666;
	text-align:right;
}
#myModal .phoneitem{
	padding-bottom:5px;
	color:#666;
	text-align:right;
}
#myModal .detailitem{
	text-indent: 2em;
}
#myModal .detail{
	font-size:14px;
	line-height: 25px;
}
#myModal .list-group-item{
	border:none;
}
#myModal .close{
	position: relative;
	left: 10px;
	top: -15px;
}
.parenttime{
	color:#666;
}
.parentcontact{
	color:#006621;
}
.white{
	background:white;
}
.container-fluid{
	min-height:495px;
}