#main ul{	
	margin:40px auto;	
	height: 400px;
	width: 200px;
	list-style:none;
}
body{
	
}
#body1{
	margin:0;
	padding:0;
	height:550px;
	width:600px;
	}
#main{
	/*width: 600px;
	*/	
}
li {
	height: 50px;
	width: 450px;
	line-height:50px;
	text-align:left;
	
}
.li1 {
	height: 220px;
	width: 450px;
	line-height:25px;
	text-align:left;
	margin-top:12px;
	margin-bottom:12px;
}
.in1 {	
	width: 300px;
	vertical-align:middle;
	line-height:25px;
	font-size:14px;
}
.in2 {	
	width: 30px;
	line-height:25px;
	font-size:14px;
	
}
.in3 {	
	width: 380px;
	height:220px;	
	line-height:25px;
	font-size:14px;	
	max-width:400px;
	max-height:220px;
	vertical-align:top;
	resize:none;
	overflow:hidden;
}
.in4 {
	
	line-height:25px;
	font-size:14px;
	
}
.h15{
	height:25px;
	vertical-align:middle;
	
}
.w200{
	width:200px;	
}
.qq{
	display:inline-block;
	width:32px;
	text-align:center;	
	
}
.sub{
	height:35px;
	line-height:16px;
	font-size:16px;
	font-weight:bold;
	width:80px;
	margin-left:100px;	
	background: #0a72ae;
	color:white;
	cursor:pointer;
	border:0px;
}
.formli{
	text-align:left;
	
	}
.fl{
	float:left;
}
.mar_rig5{
	margin-right:5px;
}
.border{
	border:1px solid #a9a9a9;
}
select{}
option{height:30px;line-height:30px;}
.test{
	width:40px;
	margin-right:0px;
	text-align:right;	
	float:left;
}